.Navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar .Logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    color: gray;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.Navbar button{
    padding: 10px 30px;
    border: 1px solid tomato;
    background: transparent;
    color: #49557e;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}
.Navbar button:hover{
    background: tomato;
    color: white;
    transition: all 0.3s ease-in-out;
}
.Navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.Navbar .active:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media (max-width: 1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right button{
        padding: 8px 25px;
        font-size: 18px;
    }
    .navbar-right img{
        width: 22px;
    }
}
@media (max-width: 900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
    .navbar-right img{
        width: 20px;
    }
}
@media (max-width: 750px){
    .navbar-menu{
        display: none;
    }
}