.LoginPopup{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    z-index: 1;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width: 16px;
    cursor: pointer;
}
.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-input input{
    padding: 10px ;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    outline: none;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #ff5722;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.log{
    color: #ff5722;
    cursor: pointer;
    font-weight: 500;
}